@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary{
  @apply bg-primary transition-all duration-300
}

.btn-primary:hover{
  @apply bg-secondary
}

.videoyt{
  width: 100%;
  overflow: clip;
  border-radius: 0.5rem;
}

.titleh1{
  @apply text-2xl lg:text-4xl dark:text-dark-title
}

.subtitleh2{
  @apply text-xl md:text-2xl dark:text-dark-subtitle
}