@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary{
  @apply bg-primary transition-all duration-300
}

.btn-primary:hover{
  @apply bg-secondary
}

.videoyt{
  width: 100%;
  overflow: clip;
  border-radius: 0.5rem;
}
